In [4]:
import pandas as pd

In [6]:
# CSV 파일 경로 지정
leads_df = pd.read_csv("../data/leads.csv")

# 데이터 확인
print(leads_df.shape)

C:\Users\ha\AppData\Local\Temp\ipykernel_21844\2979783992.py:2: DtypeWarning: Columns (2,9,11,22,23,46,47,48,49,56,59,66,105,109,114,117,120,126,127,128,140,141,143,144,145,158,167,168,174,175,176,178,180) have mixed types. Specify dtype option on import or set low_memory=False.
  leads_df = pd.read_csv("../data/leads.csv")

(86244, 181)

In [7]:
# null 개수를 기준으로 내림차순 정렬
null_counts = leads_df.isnull().sum().sort_values(ascending=False)

# 결과 출력
print(null_counts)

ContactMaritalStatusCodeText                    86243
ContactAllowedCodeText                          86243
Customer_Information_Contact_Permission         86243
Customer_Information_Contact_Permission_Text    86243
Contact_Information_Nickname                    86243
                                                ...
Account_Information_Web_Site                        0
Account_Information_EMail                           0
ObjectID                                            0
Account_Information_Fax                             0
Account_Information_Mobile                          0
Length: 181, dtype: int64

In [8]:

# 각 열의 null 개수 계산
null_counts = leads_df.isnull().sum()

# 70,000개 이상 null인 열 필터링
cols_to_drop = null_counts[null_counts > 10000].index.tolist()

# 삭제 전/후 열 개수 비교
print(f"삭제 전 열 개수: {leads_df.shape[1]}")
print(f"삭제할 열 ({len(cols_to_drop)}개): {cols_to_drop}")
print(f"총 {len(cols_to_drop)}개 열이 삭제됩니다.")

# 열 삭제
df_cleaned = leads_df.drop(columns=cols_to_drop)

# 삭제 후 열 개수
print(f"삭제 후 열 개수: {df_cleaned.shape[1]}")

삭제 전 열 개수: 181
삭제할 열 (80개): ['External_Key', 'Account_Party_External_Key', 'Main_Contact_Party_External_Key', 'Qualification_Level', 'Qualification_Level_Text', 'Reason_Code', 'Reason_Code_Text', 'Campaign_ID', 'Owner_Party_External_Key', 'Marketing_Unit_Party_ID', 'Marketing_Unit_Party_UUID', 'Marketing_Unit_Party_External_Key', 'Marketing_Unit_Name', 'Sales_Unit_Party_ID', 'Sales_Unit_Party_UUID', 'Sales_Unit_Name', 'Sales_Organization_ID', 'Sales_Organization_UUID', 'Sales_Organization_External_Key', 'Distribution_Channel', 'Distribution_Channel_Text', 'Division', 'Division_Text', 'Sales_Territory_ID', 'Sales_Territory_UUID', 'Sales_Territory_Name', 'Account_Information_Street', 'Customer_Information_City', 'Customer_Information_State', 'Customer_Information_State_Text', 'Account_Information_ABC_Classification', 'Account_Information_ABC_Classification_Text', 'Account_Information_DUNS', 'Customer_Information_Contact_Permission', 'Customer_Information_Contact_Permission_Text', 'Account_Information_Language', 'Account_Information_Language_Text', 'Account_Information_Note', 'Contact_Information_Title', 'Contact_Information_Title_Text', 'Contact_Information_Job_Title', 'ContactAcademicTitleCode', 'ContactAcademicTitleCodeText', 'Contact_Information_Nickname', 'Contact_Information_Language', 'Contact_Information_Language_Text', 'ContactMaritalStatusCode', 'ContactMaritalStatusCodeText', 'Contact_Information_Function', 'Contact_Information_Function_Text', 'Contact_Information_Department', 'Contact_Information_Department_Text', 'Contact_Information_Department_from_Business_Card', 'Contact_Information_VIP_Contact', 'Contact_Information_VIP_Contact_Text', 'ContactAllowedCode', 'ContactAllowedCodeText', 'Contact_Information_Note', 'Individual_Customer_Information_Gender', 'Individual_Customer_Information_Gender_Text', 'Individual_Customer_Information_EMail', 'Individual_Customer_Information_Title', 'Individual_Customer_Information_Title_Text', 'Individual_Customer_Information_Language', 'Individual_Customer_Information_Language_Text', 'External_ID', 'Marketing_Company', 'Marketing_Company_Text', 'Application', 'Application_Text', 'Business_Segment', 'Business_Segment_Text', 'External_Notes', 'Market_Segment', 'Market_Segment_Text', 'SEALS_TOTALcurrencyCode_KUT', 'SEALS_TOTALcurrencyCode_KUTText', 'Strategic_Indicator', 'Yearly_budget', 'Yearly_budget_Text']
총 80개 열이 삭제됩니다.
삭제 후 열 개수: 101

In [9]:
# null 개수를 기준으로 내림차순 정렬
null_counts = df_cleaned.isnull().sum().sort_values(ascending=False)

# 결과 출력
print(null_counts)

Note                                     8885
Approval_Status_Text                     6156
Approval_Status                          6156
Channel_Text                             3660
Channel                                  3660
                                         ...
Account_Information_Web_Site                0
Account_Information_Latitude                0
Account_Information_Latitude_UoM            0
Account_Information_Latitude_UoM_Text       0
Account_Information_Address_Line_2          0
Length: 101, dtype: int64

In [10]:
df_cleaned = df_cleaned.dropna(subset=['Note'])
df_cleaned = df_cleaned.dropna(subset=['Approval_Status_Text'])
df_cleaned = df_cleaned.dropna(subset=['Channel_Text'])

In [11]:
df_cleaned = df_cleaned.dropna(subset=['Continent'])
df_cleaned = df_cleaned.dropna(subset=['Customer_Information_Country'])
df_cleaned = df_cleaned.dropna(subset=['Owner_Party_ID'])

In [12]:
df_cleaned = df_cleaned.dropna(subset=['Contact_Information_Gender_Text'])
df_cleaned = df_cleaned.dropna(subset=['Main_Contact_Person_Status_Text'])

In [13]:
df_cleaned = df_cleaned.dropna(subset=['Name'])
df_cleaned = df_cleaned.dropna(subset=['Priority_KUT'])
df_cleaned.shape

(69646, 101)

In [ ]:
df_cleaned.drop(columns=["Unnamed: 0"], inplace= True)
df_cleaned.head(2)

,ObjectID,Lead_ID,Name,Name_Language_Code,Name_Language_Code_Text,Account_Party_ID,Account_Party_UUID,Account_Party_Name,Main_Contact_ID,Main_Contact_UUID,...,Channel,Channel_Text,ContactSource,ContactSource_Text,DummySave,Priority_KUT,Priority_KUT_Text,Sealing_Demand_Amount__Currency,VAT_Number,Dummy_Save
0,7916A100F2EC1EDE82EEECEAAF9DE336,99866.0,Member Registration Fluid Power Target Account,EN,English,78901,00163E1C-A7F7-1ED7-98F9-0A6990D3C559,Natalie Skinner,1465842.0,7916A100-F2EC-1EDE-82EE-ED027FCF833E,...,121.0,Web,Z32,Web Member Registration,False,121.0,Medium,0.0,True,False
1,7916A100F2EC1EDE82EEFF7365B0A7F5,99868.0,Web Request,EN,English,1465843,7916A100-F2EC-1EDE-82EE-FF7365B207F5,Laura Garcia,1465844.0,7916A100-F2EC-1EDE-82EE-FF7365BBC7F5,...,121.0,Web,Z04,Website Contact Form,False,131.0,High,0.0,False,False

In [14]:
df_cleaned.drop(columns=["Note"], inplace= True)

#df_cleaned[["Status_Text"]]

In [15]:
df_cleaned.to_csv("leads_df_cleaned.csv", index=False)

In [ ]:
# Note 열만 Lead_ID와 함께 분리
#note_df = df_cleaned[["ObjectID",'Lead_ID',"Name", 'Note', 'Status_Text']].dropna(subset=['Note'])

# CSV 저장
#note_df.to_csv("notes_only.csv", index=False)

In [75]:
df_cleaned.shape

(69646, 99)